
body {
    background-color: skyblue;
}

.container {
    background-color: ivory;
}

.rounded {
    float: left;
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    
}

.card-footer-a {
    position: relative;
    bottom:0;
    left:0;
    right:0;
    height: 40px;
    
}

.card-footer-b {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    height:40px;
}

@media only screen and (max-width: 640px) {

    .rounded {
        float: none;
        clear: both;
        width: 100%;
        padding-left: 75px;
        padding-right: 75px;
        padding-bottom: 10px;
        padding-top: 5px;
        
    }
    .container-fluid {
        flex-direction: column;
        text-align: center;
    }
    
    .navbar-nav {
        flex-direction: row;
    }
    
}

@media only screen and (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
        text-align: center;
    }
    
    .navbar-nav {
        flex-direction: row;
    }
    

}
